{% extends 'index.html' %}

{% block title %}Sample{% endblock %}

{% block content %} 

<form action="{{ url_for('register') }}" method="POST">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control"
        name="first_name" value="" 
        placeholder="Enter First Name" required>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text"
        class="form-control" 
        name="last_name" value="" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control"
      name="email_address" value="" 
      placeholder="Enter your email address" required>
      <button class="btn btn-outline-success" type="submit" >Submit</button>
  </div>
</form>  

<table class="table">
    <thead>
        <tr>
            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">email_address</th>
        </tr>
    </thead>
    {% for detail in details %}
    <tr>
        <td>
            {{detail.first_name}}
        </td>
        <td>
            {{detail.last_name}}
        </td>
        <td>
            {{detail.email_address}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}